<section class="auth-container">
<h2>Registrar</h2>
<form action="/registrar" method="post">

<div class="form-control">
  <label for="name">Nome:</label>
  <input type="text" name="name" required placeholder="Digite seu nome">
</div>

<div class="form-control">
  <label for="email">E-mail:</label>
  <input type="text" name="email" required placeholder="Digite seu email">
</div>

<div class="form-control">
  <label for="password">senha:</label>
  <input type="text" name="password" required placeholder="Digite sua senha">
</div>

<div class="form-control">
  <label for="confirmpassword">Confirmação de senha:</label>
  <input type="text" name="confirmpassword" required placeholder="Confirme sua senha">
</div>

<input type="submit" id="cadastro" value="Cadastrar">
<p>Já tem conta <a href="#">Clique aqui</a></p>

</form>
</section>